*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Inter,sans-serif;

background:#090909;

color:white;

scroll-behavior:smooth;

}

nav{

position:fixed;

top:0;

width:100%;

display:flex;

justify-content:space-between;

padding:20px 10%;

background:rgba(0,0,0,.55);

backdrop-filter:blur(15px);

z-index:1000;

}

.logo{

font-size:28px;

font-family:Playfair Display;

color:#D4AF37;

}

nav ul{

display:flex;

list-style:none;

gap:30px;

}

nav a{

text-decoration:none;

color:white;

transition:.3s;

}

nav a:hover{

color:#D4AF37;

}

.hero{

height:100vh;

background:url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee?auto=format&fit=crop&w=1600&q=80") center/cover;

display:flex;

justify-content:center;

align-items:center;

position:relative;

}

.overlay{

position:absolute;

inset:0;

background:rgba(0,0,0,.55);

}

.hero-content{

position:relative;

text-align:center;

}

.hero h1{

font-size:70px;

font-family:Playfair Display;

}

.hero h2{

font-size:40px;

margin:10px 0;

color:#D4AF37;

}

.hero p{

font-size:22px;

margin-bottom:30px;

}

.btn{

background:#D4AF37;

padding:15px 35px;

color:black;

text-decoration:none;

border-radius:40px;

font-weight:bold;

transition:.3s;

}

.btn:hover{

transform:scale(1.05);

}

#about{

padding:100px 10%;

max-width:900px;

margin:auto;

}

#about h2{

font-size:42px;

margin-bottom:20px;

color:#D4AF37;

font-family:Playfair Display;

}

#about p{

font-size:20px;

line-height:1.8;

color:#ddd;

}

@media(max-width:768px){

nav{

padding:15px;

}

nav ul{

gap:15px;

font-size:14px;

}

.hero h1{

font-size:45px;

}

.hero h2{

font-size:26px;

}

.hero p{

font-size:18px;

}

}